ion-content {
    --background: #457800;

    #header {
        display: flex;
        height: 450px;
        background: #f9f9d5;
        border-radius: 0 0 80px 80px;
        flex-direction: column;
        padding: 20px;
        color: #333;
        position: relative;

        #app-bar {
            height: 60px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: calc(100% - 40px); // Account for padding
            position: absolute;
            top: 20px;
            left: 20px;
            right: 20px;
        }

        #logo {
            width: 190px;
            height: 190px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: auto; // This will center it both horizontally and vertically
            margin-top: auto;
            margin-bottom: auto;

            img {
                width: 190px; // Changed from 500px to fit the container
                height: auto; // Maintain aspect ratio                
            }
        }

    }

    .wrapper {
        position: absolute;
        top: 26%;
        left: 4%;
        right: 4%;
        color: #8dc63f;

          h1 {
            font-size: 35px;
            color:#f9f9d5;
            margin-top: 5px;
            margin-bottom: 5px;
            text-align: center;
            justify-content: center;
            font-weight: bold;
        }
        
    .form-wrapper {
        box-shadow: 30px 30px 90px black;
        border-radius: 20px;
        padding:15px 10px;
        background-color: #8dc63f;
        color: #333;
        margin-top: 10px;

        ion-item {
            --background: #efefef;
            --border-radius: 0px;
            --highlight-height: 0px;
            --border-width: 0px;
            --padding-start: 10px;
            --padding-top: 0px;
            --min-height: 40px;
            margin-bottom: 15px;
            border-radius: 5px;

            ion-icon {
                font-size: 18px;
                color: #333;
            }

            ion-input {
                margin-left: 10px;
                font-size: 16px;
                color: #333;
            }
        }
            ion-button {
                --background: #006837;
                --color: #fff;
                --border-radius: 5px;
                margin-top: 10px;
                width: 100%;
                height: 40px;
            }
        }

        .line-text {
            padding: 0 30px;
            position: relative;
            height: 20px;
            margin-top: 30px;

            .lines {
            height: 1px;
            background: #858585;
            display: block;
            }

            .text {
            position: absolute;
            top: -7px;
            left: 50%;
            transform: translateX(-50%);
            padding: 0 16px;
            font-size: 12px;
            font-weight: 500;
            color: #fff;
            }
        }
            .social-wrapper {
            box-shadow: none;
            border-radius: 20px;
            box-shadow: 30px 30px 90px black;

            .socials {
                display: flex;
                justify-content: center;
                padding: 5px;

                ion-button {
                    margin: 0 5px;
                    --padding-start: 12px;
                    --padding-end: 12px;

                    ion-icon {
                        font-size: 18px;
                    }
                }

                .btn-fb {
                    --background: #567aa3;
                }
                .btn-tw {
                    --background: #43cff5;
                }
                .btn-go {
                    --background: #fd684f;
                }
                .btn-ph {
                    --background: #737373;
                }
            }
        }

        .register-link {
                text-align: center;
                margin-top: 16px;
                font-size: 15px;
                color: #333;

                a {
                    color: #006837;
                    text-decoration: underline;
                    font-weight: bold;
                    margin-left: 4px;
                    cursor: pointer;
                    transition: color 0.2s;
                }
                a:hover {
                    color: #f9f9d5;
                }
            } 
    }
}